@model IEnumerable<WorkOrderCore.Infrastructure.Persistence.DataContext.JobActivities>

@{
    ViewData["Title"] = "Index";
}

<h2>Job Activities</h2>

<p>
    <a class="btn btn-success" asp-action="Create" asp-route-JobCardId="@ViewBag.JobCardId" asp-route-buninessUnitId="@ViewBag.BusinessUnitId">Create Activity</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuninessUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobActivityDescriptioin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobActivitiesStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuninessUnitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobActivityDescriptioin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobActivitiesStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDuration)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit">Edit</a>
                    <a class="btn btn-warning" asp-controller="Rider" asp-action="Index">Assign Activity</a>
                    <a class="btn btn-danger" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
