@model WorkOrderApplication.Models.TransactionViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Transaction</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group" style="float:right">
            <a class="btn btn-warning" asp-action="Index" style="float:right">Back to List</a>
        </div>
    </div>
    <form asp-action="Create">
        <input type="hidden" asp-for="TransactionDetails.CreatedDate" />
        <input type="hidden" asp-for="TransactionDetails.CreatedBy" />
        <input type="hidden" asp-for="JobcardDD" value="@Model.JobcardDD"/>
        <input type="hidden" asp-for="EmployeesDD" value="@Model.EmployeesDD"/>
        <input type="hidden" asp-for="StatusDD" value="@Model.StatusDD"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Job Card</label>
                <select asp-for="TransactionDetails.JobCardId" asp-items="@Model.JobcardDD" class="form-control">
                    <option selected disabled>Select Job Card</option>
                </select>
                <span asp-validation-for="TransactionDetails.JobCardId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Job Activities</label>
                <select asp-for="TransactionDetails.JobActivityId" class="form-control" id="activityId">
                    <option selected disabled>Select Job Activity</option>
                </select>
                <span asp-validation-for="TransactionDetails.JobActivityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Employees</label>
                <select asp-for="TransactionDetails.EmployeeId" asp-items="@Model.EmployeesDD" class="form-control">
                    <option selected disabled>Select Employee</option>
                </select>
                <span asp-validation-for="TransactionDetails.EmployeeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="TransactionDetails.JobCardsTransactionsStartDate" class="control-label">Transaction Start Date</label>
                <input type="date" asp-for="TransactionDetails.JobCardsTransactionsStartDate" class="form-control" />
                <span asp-validation-for="TransactionDetails.JobCardsTransactionsStartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="TransactionDetails.JobCardsTransactionsEndDate" class="control-label">Transaction End Date</label>
                <input type="date" asp-for="TransactionDetails.JobCardsTransactionsEndDate" class="form-control" />
                <span asp-validation-for="TransactionDetails.JobCardsTransactionsEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Transaction Status</label>
                <select asp-for="TransactionDetails.JobCardsTransactionsStatus" asp-items="@Model.StatusDD" class="form-control" required>
                    <option selected disabled>--Select Status--</option>
                </select>
                <span asp-validation-for="TransactionDetails.JobCardsTransactionsStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="TransactionDetails.JobCardsTransactionsRemarks" class="control-label">Transaction remark</label>
                <input asp-for="TransactionDetails.JobCardsTransactionsRemarks" class="form-control" style="height: 87px;" />
                <span asp-validation-for="TransactionDetails.JobCardsTransactionsRemarks" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(function () {
        $("#TransactionDetails_JobCardId").on("change", function () {
            fn_onChangeJobCard(this.value);
        });
        function fn_onChangeJobCard(value) {
            $.getJSON('@Url.ActionLink("GetActivitiesByJobCardId")', { jobCardId : value}, function (result) {
                $("#activityId").empty();
                var items = "";
                $.each(result, function (i, field) {
                    $('#activityId').append($('<option>', {
                        value: field.value,
                        text: field.text
                    }));
                });
            });
        }
    });

</script>

}
